.rookie-container{
    background-color: transparent;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif; 
}
.rookie-mask{
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.rookie-content{
    height: 60vh;
    width: 100%;
    position: absolute;
    z-index: 100000;
    bottom: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    opacity: 0.6;
    -webkit-transition-duration: .3s;
            transition-duration: .3s;
    /* background: #EFEFF4; */
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
}
.rookie-content.rookie-picker-modal-visible {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
           
}
.rookie-control{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.rookie-control button{
    width: 90px;
    height: 30px;
    line-height: 30px;

}
.rookie-tab-opactiy{
    opacity: 1!important;
}

.rookie-tab-view{
    display: flex;
    box-shadow: 1px 10px 16px #eee;
    background-color: #fff;
}
.rookie-tab{
    width: calc(100% - 30px);
    margin: 0 auto;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    
}
.rookie-tab-item{
    padding: 0 10px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: salmon;
    width: 22vw;
    font-size: 12px; 
}
.rookie-tab-wrapper{
    height: 30px;
    display: flex;
    
    flex-wrap: nowrap;
    position: absolute;
    padding: 0 5px;
    transition: all .3s;
    opacity: 0;
}
.rookie-tab-active{
    color: #1890ff;
    position: relative;
}
.rookie-tab-active::after{
    content: "";
    display:block;
    width: calc(100% - 20px);
    height: 2px;
    background-color:#1890ff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.rookie-bd{
    overflow: hidden;
}
.rookie-bd-ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.rookie-bd-ul li{
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    padding:0 15px;
    border-bottom: 1px solid #eee;
    color: #0d0d0d;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    position: relative;
    display: flex;
    align-items: center;
}
.rookie-bd-ul li:active{
    background-color: #ccc;
    color: #fff;
}
.rookie-bd-ul li:last-child{
    border-bottom: none;
}

.rookie-bd-ul li.arrow::after{
    content: "";
    display: block;
    border: solid #b2bac2;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    right: 10px;
    top: 16px;  
}
.rookie-full-screen{
    height: 100vh!important;
}
.rookie-control button{
    color:white;
    background-color:cornflowerblue;
    border-radius: 3px;
    border-width: 0;
    margin: 0;
    outline: none;
    font-family: KaiTi;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
}
.rookie-title{
    height: 30px;
    text-align: center;
    line-height: 44px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    color: #777;
    padding: 0 15px;
}
.rookie-control-cancel{
    background-color: #ccc!important;
}